/doc
/_doc
/lib
/_site
/src
/test
/samples
/samples-src
/_samples
/utils
/target

.*
build.sh
CHANGELOG*
CONTRIBUTING.md
CONTRIBUTORS.md
History.md
COMPILE.md
gulpfile.js
jsdoc.json
webpack.*

*.gz
*.tgz
*.sh
*.txt
*.log
