/doc
/jsdoc
/lib
/_site
/src
/scripts
/test
/samples
/samples-src
/_samples
/utils
/target

.*
build.sh
CHANGELOG*
CONTRIBUTING.md
CONTRIBUTORS.md
COMPILE.md
HISTORY.md
History.md
gulpfile.js
jsdoc.json
webpack.*

*.gz
*.tgz
*.sh
*.txt
*.log
