/doc
/jsdoc
/lib
/scripts
/test
/samples
/samples-src
/utils
/target
/coverage
/package

/_test*
/_samples*
/_site

.*

build.sh
CHANGELOG*
TODO*
FIXME*
CONTRIBUTING.md
CONTRIBUTORS.md
COMPILE.md
HISTORY.md
History.md
jsdoc.json
webpack.*
map.json

*.gz
*.tgz
*.sh
*.txt
*.log
