name: Build

on:
  pull_request:
    branches:
      - develop
  push:
    branches:
      - master
      - 'release-*'

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use nodejs
        uses: actions/setup-node@v4
        with:
          node-version: '12.x'

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Test
        run: npm run cover

      - name: ESlint
        run: npm run eslint
